
body {
    color: rgba(147, 34, 161, 0.829);
}

.text-center {
    text-align: center;
    font-family: cursive;
}

.text-color {
    color: black;
}

#link-color {
    background-color: antiquewhite;
}

[for = "email" ] {
    font-weight: bold;
    font-family: cursive;
}

[for = "password" ] {
    font-weight: bold;
    font-family: cursive;
}

[for = "date" ] {
    font-weight: bold;
    font-family: cursive;
}

.text-font {
    font-family: cursive;
    font-weight: bold;
}

input,label,button {
    display: block;
}

h2 {
    background: red;
    position: fixed;
    /*float: right;*/
    font-size: 50rem;
   
}
/* position rule positions an html element it can take on several variables.
the absolute variable means that for other elements the element for which we used absolute positioning is non-existent. in relative 
positioning every element knows and respect each other position. fixed means that element is fixed relative to window */

h3 {
    /*display: inline-block;*/
    background: blue;
    position: relative;
    float: right;
    height: 50vh;
    
}

h4{
    display: inline-block;
    background: green;
    /*position: fixed;*/
   
}

h5 {
    display: inline-block;
    background: azure;

}

h6 {
    display: inline-block;
    background: rgba(0, 255, 42, 0.411);
}
.text-inline {
    display: inline-block;
}

body {
    margin: 0;
}

main {
    margin-left: 3em;
}

button {
    padding: 1em;
    margin: 1em 0 1em 0;
    border: 1em solid;
}