
body {
    color: rgba(147, 34, 161, 0.829);
}

.text-center {
    text-align: center;
    font-family: cursive;
}

.text-color {
    color: black;
}

#link-color {
    background-color: antiquewhite;
}

[for = "email" ] {
    font-weight: bold;
    font-family: cursive;
}

[for = "password" ] {
    font-weight: bold;
    font-family: cursive;
}

[for = "date" ] {
    font-weight: bold;
    font-family: cursive;
}

.text-font {
    font-family: cursive;
    font-weight: bold;
}

input,label,button {
    display: block;
}

h2,h3,h4,h5,h6 {
    display: none;
}

.text-inline {
    display: inline-block;
}